<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
  <link rel="stylesheet" href="./assets/css/style.css" />
  <title>Network Map</title>
</head>

<body>

    <input type="search" id="filter" onkeypress="if (event.keyCode === 13) filter()" />
    <button onclick="filter()">Search</button>

  <div class="md:flex flex-col md:flex-row md:min-h-screen w-full max-w-screen-xl mx-auto">
    <div id="navSide" class="flex flex-col w-full md:w-48 text-gray-700 bg-white flex-shrink-0"></div>
    <script src="./assets/js/go.js"></script>
    <div id="allSampleContent" class="p-4 w-full">
      <div id="sample">
        <div id="myDiagramDiv"
          style="background-color: whitesmoke; border: solid 1px black; width: 100%; height: 700px">
        </div>
      </div>
    </div>
  </div>
</body>

    <script id="code">
    var nodeDataArray = [];
    var linkDataArray = [];
    function init() {
    const $ = go.GraphObject.make;
    myDiagram = new go.Diagram("myDiagramDiv",
      {
        initialAutoScale: go.Diagram.Uniform,
        contentAlignment: go.Spot.Center,
        layout:
          $(go.ForceDirectedLayout,
            { maxIterations: 200, defaultSpringLength: 30, defaultElectricalCharge: 100 })
      });

    myDiagram.nodeTemplate =
      $(go.Node, "Auto",
        { locationSpot: go.Spot.Center },
        $(go.Shape, "Circle",
          { fill: $(go.Brush, "Linear", { 0: "rgb(255, 255, 255)", 1: "rgb(255, 255, 255)" }), stroke: "black" }),
        $(go.TextBlock,
          { font: "bold 10pt helvetica, bold arial, sans-serif", margin: 1 },
          new go.Binding("text", "text"))
      );

    myDiagram.linkTemplate =
      $(go.Link,
        {
          curve: go.Link.Bezier,
          adjusting: go.Link.Stretch,
          reshapable: true, relinkableFrom: true, relinkableTo: true,
          toShortLength: 3
        },
        new go.Binding("points").makeTwoWay(),
        new go.Binding("curviness"),
        $(go.Shape,
          { strokeWidth: 1.5 },
          new go.Binding('stroke', 'progress', progress => progress ? "#52ce60" : 'black'),
          new go.Binding('strokeWidth', 'progress', progress => progress ? 2.5 : 1.5)),
        $(go.Shape,
          { toArrow: "triangle", stroke: null },
          new go.Binding('fill', 'progress', progress => progress ? "#52ce60" : 'black')),
        $(go.Panel, "Auto",
          $(go.Shape,
            {
              fill: $(go.Brush, "Radial",
                { 0: "rgb(245, 245, 245)", 0.7: "rgb(245, 245, 245)", 1: "rgba(245, 245, 245, 0)" }),
              stroke: null
            }),
          $(go.TextBlock, "transition",
            {
              textAlign: "center",
              font: "12pt helvetica, arial, sans-serif",
              margin: 8,
              editable: true
            },
            new go.Binding("text", "text")
          )
        ));

        GetHosts();
        GetConnections();
        myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
    }

    function GetHosts() {
        var filterParam = new URLSearchParams(window.location.search);
        var filter = filterParam.get('hostname');
        if (filter == null) {
          filter = "";
        }
        var url = "http://localhost/api/hosts/" + filter;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var hosts = JSON.parse(this.responseText);
            var i = 1;
            Object.keys(hosts).forEach(key => {
              nodeDataArray.push({ key: key, text: hosts[key].split(',')[0] + "\n" + hosts[key].split(',')[1] });
              i++;
            });
            myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
          };
        };
          xhttp.open("GET", url, true);
          xhttp.send();
    }

    function GetConnections() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var connections = JSON.parse(this.responseText);
            var i = 1;
            Object.keys(connections).forEach(key => {
              linkDataArray.push({ from: connections[key][0], to: connections[key][1], text: connections[key][2] });
              i++;
            });
            myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
          }
        };
        xhttp.open("GET", "http://localhost/api/connections", true);
        xhttp.send();
    }

    function filter() {
        var filter = document.getElementById("filter");
        if (!filter) return;
        myDiagram.focus();
        myDiagram.startTransaction("highlight search");

        if (filter.value) {
            var safe = filter.value.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
            var regex = new RegExp(safe, 'i');
            var results = myDiagram.findNodesByExample({ text: regex });
            console.log(results);
            myDiagram.highlightCollection(results);

            if (results.count > 0) {
                myDiagram.centerRect(results.first().actualBounds);
            } else {
                myDiagram.clearHighlighteds();
            }

            myDiagram.commitTransaction("highlight search");
        }
    }


    window.addEventListener('DOMContentLoaded', init);
</script>

</html>
