<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

    <head>
        <title>file-server</title>
        <meta charset="utf-8">
        <link rel="icon" href="data:,">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
        <link rel="stylesheet" href="/assets/css/style.css"/>
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"/>
        <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/jQuery-3.7.0/jquery-3.7.0.min.js"></script>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/files/">Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/injects/">Injects</a>
                </li>
            </ul>
        </div>
    </nav>

    <body>
        <div class="h-100 d-flex alight-items-center justify-content-center">
            <div>
                <h1>Files</h1>
                <ul class="list-group">
                    {{if ne .Path ""}}
                    <li class="list-group-item">
                        <a href="/files/{{.Path | urlquery}}/../">🏠</a>
                    </li>
                    {{end}}
                    {{range .Files}}
                    <li class="list-group-item">
                        <a class="" href="{{if .IsDir }}/files/{{ else }}/download/{{end}}{{$.Path | urlquery}}/{{.Name | urlquery}}{{if .IsDir}}/{{end}}">
                            {{.Name}}{{if .IsDir}}/(Directory){{end}}
                        </a>
                        {{end}}
                    </li>
                    <li class="list-group-item">
                        <input type="text" id="path" name="path">
                        <input type="submit" value="Create Directory" onclick="createDir()">
                    </li>
                </ul>
            </div>
        </div>
    </body>

    <script>
        function createDir() {
            path = $("#path").val();
            currentPath = window.location.pathname.split("/").slice(2).join("/");
            console.log(currentPath);
            path = '/' + currentPath + path
            $.ajax({
                type: "POST",
                url: "/api/v1/dir",
                data: JSON.stringify({
                    "Path": path
                }),
                contentType: "application/json",
                success: function(data) {
                    console.log(path); 
                    window.location.reload();
                }
            });
        }
    </script>

</html>
