{{ define "body" }}
<div class="h-75 d-flex align-items-center justify-content-center">
    <div class="w-50 p-3">
        <div class="input-group mb-1">
            <label for="file" class="form-control drop-container" id="dropcontainer">
                <span id="fileText" class="drop-title">Drop or paste files here</span>
                <input type="file" id="file" name="file" hidden/>
            </label>
        </div>
        <button class="btn btn-outline-primary w-100" id="upload" onclick="uploadFile()">Upload</button>
    </div>
</div>
<script>

    const dropContainer = document.getElementById("dropcontainer")
    const fileInput = document.getElementById("file")
    const fileText = document.getElementById("fileText")

    dropContainer.addEventListener("dragover", (e) => {
        e.preventDefault()
    }, false)

    dropContainer.addEventListener("dragenter", () => {
        dropContainer.classList.add("drag-active")
    })

    dropContainer.addEventListener("dragleave", () => {
        dropContainer.classList.remove("drag-active")
    })

    dropContainer.addEventListener("drop", (e) => {
        e.preventDefault()
        dropContainer.classList.remove("drag-active")
        fileInput.files = e.dataTransfer.files
        fileText.innerText = fileInput.files[0].name
    })

    dropContainer.addEventListener("paste", (e) => {
        console.log(e)
        e.preventDefault()
        fileInput.files = e.clipboardData.files
        console.log(fileInput.files)
        fileText.innerText = fileInput.files[0].name
    })

    fileInput.addEventListener("change", () => {
        fileText.innerText = fileInput.files[0].name
    })

    function uploadFile() {
        var file = document.getElementById('file').files[0];
        var formData = new FormData();
        formData.append('file', file);
        fetch('/api/v1/upload', {
            method: 'POST',
            body: formData,
            ContentType: 'multipart/form-data'
        }).then(response => {
            if (response.ok) {
                alert('File uploaded successfully');
            } else {
                alert('File upload failed');
            }
        });
    }
</script>


{{ end }}
