{{ define "body" }}
<div class="container-fluid">
    <div class="col-md-3">
        <div class="side-bar">
            <div class="logo-name-wrapper">
                <div class="logo-name">
                    <span class="h1 logo-name__name">Injects Form</span>
                </div>
                <button class="logo-name__button">
                    <img src="/assets/menu.png" class="logo-name__icon" id="logo-name__icon"></i>
                </button>
            </div>

            <ul class="features-list">
                <li class="features-item">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Inject Name">
                    </div>
                </li>
                <li class="features-item">
                    <div class="form-group">
                        <input type="text" class="form-control" id="pad" placeholder="Pad Link">
                    </div>
                </li>
                <li class="features-item">
                    <div class="form-group">
                        <input type="time" class="form-control" id="time" placeholder="Due Time">
                    </div>
                </li>
                <li class="features-item">
                    <button type="button" class="btn btn-primary" onclick="NewInject()">Create</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <div id="injects" class="container"> 
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    {
        let arrowButton = document.querySelector('.logo-name__button');
        let sideBar = document.querySelector('.side-bar');
        let arrowIcon = document.querySelector('#logo-name__icon');
        let featuresList = document.querySelector('.features-list');

        arrowButton.onclick = function() {
            sideBar.classList.toggle('collapse');

            if (sideBar.classList.contains('collapse')) {
                featuresList.style.display = 'none';
                arrowIcon.src = '/assets/menu.png';
            } else {
                setTimeout(() => {
                    featuresList.style.display = 'block';
                }, 500);
                arrowIcon.src = '/assets/menu.png';
            }
        };
    }
    $(document).ready(function () {
        GetInjects();
    });

    function GetInjects() {
        $.ajax({
            url: "/api/v1/injects",
            type: "GET",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    element = document.getElementById(data[i].ID);
                    if (!element) {
                        AddAgentCard(data[i].ID, data[i].Name, data[i].Pad, data[i].Status, data[i].DueDate);
                    } else {
                        console.log("Element already exists");
                    }
                }
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            },
        });
    }

    function editInject(id, status) {
        if (status == 1) {
            status = "done";
        } else {
            status = "incomplete";
        }
        $.ajax({
            url: "/api/v1/injects",
            type: "PUT",
            data: JSON.stringify({
                "id": id,
                "status": status
            }),
            contentType: "application/json",
            success: function (data) {
                GetInjects();
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            },
        });
    }

    function deleteInject(id) {
        $.ajax({
            url: "/api/v1/injects",
            type: "DELETE",
            data: JSON.stringify({
                "id": id
            }),
            contentType: "application/json",
            success: function (data) {
                GetInjects();
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            },
        });
    }

    function NewInject() {
        var name = $("#name").val();
        var time = $("#time").val();
        console.log(time);
        var pad = $("#pad").val();
        $.ajax({
            url: "/api/v1/injects",
            type: "POST",
            data: JSON.stringify({
                "name": name,
                "pad": pad,
                "dueDate": time
            }),
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                GetInjects();
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            },
        });
    }

    function AddAgentCard(id, name, pad, status, time) {

        currDate = new Date();
        currHour = currDate.getHours();
        currMin = currDate.getMinutes();
        dueHour = parseInt(time.substring(0, 2));
        dueMin = parseInt(time.substring(3, 5));

        if (dueHour - currHour == 0 && dueMin - currMin > 0 && status != "done") {
            statusBG = "bg-danger";
        } else if (dueHour - currHour <= 0 && status != "done") {
            statusBG = "bg-danger";
        } else if (dueHour - currHour == 1 && dueMin - currMin > 0 && status != "done") {
            statusBG = "bg-warning";
        } else if (dueHour - currHour >= 2 && status != "done") {
            statusBG = "bg-info";
        } else {
            statusBG = "bg-success";
        }

        var card = '<div class="col" ;">' +
            '<div id="' + id + '" class="card ' + statusBG + ' mb-3 col" style="width: 20rem">' +
            '<div class="card-header" style="font-size: 3rem">' + id + ' - ' + name +'</div>' +
            '<div class="card-body">' +
            '<h5 class="card-title" style="font-size: 2rem"><a href="https://' + pad + '" target="_blank">' + pad + '</a></h5>' +
            '<p class="card-text" style="font-size: 2rem">' + "Due at " + time + '</p>' +
            '<button type="button" class="btn btn-primary" onclick="editInject('+id+', 1)">Done</button>' +
            '<button type="button" class="btn btn-primary" onclick="editInject('+id+', 0)">NOT DONE!</button>' +
            '<button type="button" class="btn btn-primary" onclick="deleteInject('+id+')">Delete</button>' +
            '</div>' +
            '</div>' +
            '</div>';
        $("#injects").append(card);
    }
</script>
{{ end }}
