{{ define "body" }}
<head>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<div class="container-fluid">
    <div class="col-md-3">
        <div class="side-bar">
            <div class="logo-name-wrapper">
                <div class="logo-name">
                    <span class="h1 logo-name__name">Injects Form</span>
                </div>
                <button class="logo-name__button">
                    <img src="/assets/menu.png" class="logo-name__icon" id="logo-name__icon"></i>
                </button>
            </div>

            <ul class="features-list">
                <li class="features-item">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                </li>
                <li class="features-item">
                    <div class="form-group">
                        <input type="text" class="form-control" id="category" placeholder="Category">
                    </div>
                </li>
                <li class="features-item">
                    <div class="form-group">
                        <input type="text" class="form-control" id="pad" placeholder="Pad">
                    </div>
                </li>
                <li class="features-item">
                    <button type="button" class="btn btn-primary" onclick="NewInject()">Create</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <!-- Content here -->
    </div>
</div>
</div>
<script type="text/javascript">
    {
        let arrowButton = document.querySelector('.logo-name__button');
        let sideBar = document.querySelector('.side-bar');
        let arrowIcon = document.querySelector('#logo-name__icon');
        let featuresList = document.querySelector('.features-list');

        arrowButton.onclick = function() {
            sideBar.classList.toggle('collapse');

            if (sideBar.classList.contains('collapse')) {
                featuresList.style.display = 'none';
                arrowIcon.src = '/assets/menu.png';
            } else {
                setTimeout(() => {
                    featuresList.style.display = 'block';
                }, 500);
                arrowIcon.src = '/assets/menu.png';
            }
        };
    }
    $(document).ready(function () {
        GetInjects();
    });

    function GetInjects() {
        $.ajax({
            url: "/api/v1/injects",
            type: "GET",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (document.getElementById(data[i][3]) === null) {
                        AddAgentCard(data[i][0], data[i][1], data[i][2], data[i][3]);
                    }
                }
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            },
        });
    }

    function NewInject() {
        var name = $("#name").val();
        var category = $("#category").val();
        var pad = $("#pad").val();
        var id = $("#id").val();
        $.ajax({
            url: "/api/v1/injects",
            type: "POST",
            data: JSON.stringify({
                "name": name,
                "category": category,
                "pad": pad,
            }),
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                console.log(data);
                GetInjects();
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            },
        });
    }

    function AddAgentCard(name, category, pad, id) {
        var card = '<div class="col-md-4" style="max-width: 18rem;">' +
            '<div id="' + id + '" class="card text-bg-danger mb-3 col" style="max-width: 18rem;">' +
            '<div class="card-header">' + category + '</div>' +
            '<div class="card-body">' +
            '<h5 class="card-title">' + name + '</h5>' +
            '<p class="card-text">' + pad + '</p>' +
            '</div>' +
            '</div>' +
            '</div>';
        $("#injects").append(card);
    }
</script>
{{ end }}
