{{ template "Header" }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align:center">
            <div id="checkboxes" class="form-check form-check-inline">
            </div>
            <div> 
                <button id="btn" class="btn btn-primary" onclick="filter()">Apply</button>
            </div>
        </div>
    </div>
    <script src="./assets/js/go.js"></script>
    <div id="allSampleContent" class="p-4 w-full">
        <div id="sample">
            <div id="myDiagramDiv"
                style="background-color: #66737f; border: solid 0px black; width: 100%; height: 800px">
            </div>
        </div>
    </div>
</div>

<script>
    url = 'ws://localhost/ws';
    var socket = new WebSocket(url);

    socket.onmessage = function(event) {
        var message = event.data;
        var data = JSON.parse(message);
        if (typeof data.Port !== 'undefined') {
            if (myDiagram.model.findNodeDataForKey(data.Src) === null) {
                AddHost(data.Src);
            }
            if (myDiagram.model.findNodeDataForKey(data.Dst) === null) {
                AddHost(data.Dst);
            }
            myDiagram.model.addLinkData({ from: data.Src, to: data.Dst, text: data.Port});
        } else if (typeof data.IP !== 'undefined') {
            myDiagram.model.addNodeData({ key: data.IP, text: data.IP });
        } else {
            console.log("Unknown data: " + data);
        }
    };

    socket.onopen = function(event) {
        console.log("Connection established!");
    };

    socket.onerror = function(error) {
        console.log("WebSocket Error: ", error);
    };

    socket.onclose = function(event) {
        console.log("Connection closed!");
    };

    function AddHost(ip) {
        myDiagram.model.addNodeData({ key: ip, text: ip });
    }

    var nodeDataArray = [];
    var linkDataArray = [];
    var ips = [];
    const highlightColor = "red";
    function init() {
        const $ = go.GraphObject.make;
        myDiagram = new go.Diagram("myDiagramDiv",
            {
                initialAutoScale: go.Diagram.Uniform,
                contentAlignment: go.Spot.Center,
                layout:
                $(go.ForceDirectedLayout,
                    { maxIterations: 500, defaultSpringLength: 50, defaultElectricalCharge: 1000 })
            });

        myDiagram.nodeTemplate =
            $(go.Node, "Auto",
                {
                    locationSpot: go.Spot.Center,
                    locationObjectName: "SHAPE",
                    mouseEnter: (e, node) => {
                        node.diagram.clearHighlighteds();
                        node.linksConnected.each(l => highlightLink(l, true));
                        node.isHighlighted = true;
                        const tb = node.findObject("TEXTBLOCK");
                        if (tb !== null) tb.stroke = highlightColor;
                    },
                    mouseLeave: (e, node) => {
                        node.diagram.clearHighlighteds();
                        const tb = node.findObject("TEXTBLOCK");
                        if (tb !== null) tb.stroke = "black";
                    }
                },
                $(go.Shape, "Circle",
                    {
                        fill: $(go.Brush, "Linear", { 0: "rgb(255, 255, 255)", 1: "rgb(255, 255, 255)" }),
                        stroke: "black"
                    }),
                $(go.TextBlock,
                    { name: "TEXTBLOCK", font: "bold 10pt helvetica, bold arial, sans-serif", margin: 1 },
                    new go.Binding("text", "text"))
            );

        myDiagram.linkTemplate =
            $(go.Link,
                {
                    curve: go.Link.Bezier,
                    adjusting: go.Link.Stretch,
                    reshapable: true, relinkableFrom: true, relinkableTo: true,
                    toShortLength: 3,
                    mouseEnter: (e, link) => highlightLink(link, true),
                    mouseLeave: (e, link) => highlightLink(link, false)
                },
                new go.Binding("points").makeTwoWay(),
                new go.Binding("curviness"),
                $(go.Shape,
                    { strokeWidth: 1.5 },
                    new go.Binding("stroke", "isHighlighted", (h, shape) => h ? highlightColor : 'black').ofObject(),
                    new go.Binding("strokeWidth", "isHighlighted", h => h ? 4 : 1).ofObject(),
                    new go.Binding('stroke', 'progress', progress => progress ? "#ffffff" : 'white'),
                    new go.Binding('strokeWidth', 'progress', progress => progress ? 2.5 : 1.5)),
                $(go.Shape,
                    { toArrow: "triangle", stroke: null },
                    new go.Binding("stroke", "isHighlighted", (h, shape) => h ? highlightColor : 'black').ofObject(),
                    new go.Binding("strokeWidth", "isHighlighted", h => h ? 4 : 1).ofObject(),
                    new go.Binding('fill', 'progress', progress => progress ? "#ffffff" : 'white')),
                $(go.Panel, "Auto",
                    $(go.Shape,
                        {
                            fill: $(go.Brush, "Radial", { 0: "rgb(245, 245, 245)", 0.7: "rgb(245, 245, 245)", 1: "rgba(245, 245, 245, 0)" }),
                            stroke: null
                        }),
                    $(go.TextBlock, "transition",
                        {
                            textAlign: "center",
                            font: "12pt helvetica, arial, sans-serif",
                            margin: 4,
                            editable: true
                        },
                        new go.Binding("stroke", "isHighlighted", (h, shape) => h ? highlightColor : 'black').ofObject(),
                        new go.Binding("font", "isHighlighted", h => h ? "16pt helvetica, arial, sans-serif" : "12pt helvetica, arial, sans-serif").ofObject(),
                        new go.Binding("text", "text")
                    )
                ));

        GetConnections();
        createCheckboxes();
        myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
    }
    window.addEventListener('DOMContentLoaded', init);

    function GetConnections() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var connections = JSON.parse(this.responseText);
                var i = 1;
                Object.keys(connections).forEach(key => {
                    var src = connections[key][0];
                    var dst = connections[key][1];
                    var port = connections[key][2];
                    if (myDiagram.model.findNodeDataForKey(src) === null) {
                        AddHost(src);
                    }
                    if (myDiagram.model.findNodeDataForKey(dst) === null) {
                        AddHost(dst);
                    }
                    linkDataArray.push({ from: src, to: dst, text: port });
                    i++;
                });
                myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
            }
        };
        xhttp.open("GET", "http://localhost/api/connections/get", true);
        xhttp.send();
    }

    function createCheckboxes() {
        var xhttp = new XMLHttpRequest();
        var div = document.getElementById("checkboxes");
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var connections = JSON.parse(this.responseText);
                var i = 1;
                Object.keys(connections).forEach(key => {
                    if (!ips.includes(connections[key][0])) {
                        ips.push(connections[key][0]);
                        createCheckbox(connections[key][0]);
                    }
                    if (!ips.includes(connections[key][1])) {
                        ips.push(connections[key][1]);
                        createCheckbox(connections[key][1]);
                    }
                    i++;
                });
            }
        };
        xhttp.open("GET", "http://localhost/api/connections/get", true);
        xhttp.send();
    }

    function createCheckbox(ip) {
        var div = document.getElementById("checkboxes");
        var childDiv = document.createElement("div");
        childDiv.className = "row form-check form-check-inline";
        var checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.name = ip;
        checkbox.value = ip;
        checkbox.className = "form-check-input form-check-inline";

        var label = document.createElement('label')
        label.appendChild(checkbox);
        label.appendChild(document.createTextNode(ip));
        label.className = "form-check-label";

        childDiv.appendChild(label);
        div.appendChild(childDiv);
    }

    function filter() {
        var checklist = document.getElementById("checkboxes");
        var checkboxes = checklist.getElementsByTagName("input");
        var checked = [];
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checked.push(checkboxes[i].value);
            }
        }
        myDiagram.commit(function (d) {
            d.nodes.each(function (n) {
                n.visible = false;
            });
            d.links.each(function (l) {
                l.visible = false;
            });

            d.model.linkDataArray.forEach(function (p) {
                if (checked.includes(p.from) || checked.includes(p.to)) {
                    d.findNodeForKey(p.from).visible = true;
                    d.findNodeForKey(p.to).visible = true;
                    d.findLinkForData(p).visible = true;
                }
            });
        }, "filter");
    }

    function highlightLink(link, show) {
        link.isHighlighted = show;
        link.fromNode.isHighlighted = show;
        link.toNode.isHighlighted = show;
    }

</script>
{{ template "Footer" }}
